{% extends 'base.html' %}
{% block title %} Create Order {% endblock title %}
{% load static %}
{% block styles %}
<style>
  .search-results {
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    margin-top: -17px;
    display: none;
  }
  .form-control {
    box-shadow: none !important;
    outline: none !important;
  }
  .search-results li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    padding-left: 4px;
    cursor: pointer !important;
  }
  .search-results li:hover {
    background-color: silver;
  }
  .fa-trash {
      color: tomato;
      cursor: pointer;
      margin-left: 20px;
  }
  .container-fluid {
    position: relative;
    width: 100%;
  }
  .container-fluid .order-success-message {
    color: white;
    background-color: #00B74A;
    position: absolute;
    width: 332px;
    bottom: -79px;
    right: 24px;
    z-index: -1000;
    transition: all 10 linear;
  }
  .hide-message {
    display: none;
  }
  .show-message {
    display: block;
  }
  .order-success-message a {
    text-decoration: none;
    color: white;
  }
  .order-success-message p {
    margin: 3px;
  }
  .success {
    display: flex;
    justify-content: space-between;
  }
  .view-order {
    padding-left: 39px;
  }
  .view-order a:hover {
    color: yellow;
    font-size: larger;
  }

</style>
{% endblock styles %}
{% block content %}
<div class="container-fluid my-4 justify-content-center">
  <div class="row order-success-message hide-message" id="order-success-message">
    <div class="col-md-12 d-flex flex-column justify-content-between py-2" id="message-div">
      <div class="success">
        <p class="text-monospace font-weight-bold"><i class="fa fa-check pr-3"></i>Successfull</p>
        <a type="button" onclick="closeOrderMessage(event)"><i class="fa fa-times"></i></a>
      </div>
      <!-- <div class="success">
        <a href="">View order</a>
      </div> -->
    </div>
  </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Select Products To Deliver</h5>
            <form class="my-5" method="POST" id="productForm" novalidate>
                {% csrf_token %}
                <div class="form-group">
                  <label for="product">Product*</label>
                  <input class="form-control" type="text" name="product" value="" id="product" placeholder="Search Products by name, code, category">
                  <p class="lead text-danger pl-0 pr-0" id="product_validation_message"></p>
                </div>
                <div class="search-results" id="searchResults"></div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" class="form-control" id="price" readonly>
                </div>
                <div class="form-group">
                    <label for="price">In Stock</label>
                    <input type="text" class="form-control" name="stock" id="stock" readonly>
                  </div>
                  <div class="form-group">
                    <label for="price" id="quantityLabel"></label>
                    <input type="number" class="form-control" name="quantity" id="quantity" min="1" step="1">
                    <p class="pl-0 pr-0 text-danger lead" id="quantity_validation_message"></p>
                  </div>
                  <div class="form-group">
                    <label for="price">Category</label>
                    <input type="text" class="form-control" name="category" id="category" readonly>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-dark" id="addProductButton">Add Product</button>
                  </div>
              </form>
        </div>
        <div class="col-md-6">
            <h5>Products To Deleiver</h5>
            <table class="table my-5" id="productTable">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="orderTable">
                  
                </tbody>
              </table>
                <h5>Customer Information</h5>
              <form id="orderForm" class="my-5" novalidate>
                  {% csrf_token %}
                  <div class="div form-group">
                      <label for="customer_name">Customer Name*</label>
                      <input type="text" class="form-control" name="customer_name" id="customer_name">
                      <p class="lead text-danger pl-0 pr-0" id="customer_name_validation_message"></p>
                  </div>
                  <div class="div form-group">
                    <label for="customer_name">Phone Number*</label>
                    <input type="text" class="form-control" name="phone" id="phone">
                    <p class="lead text-danger pl-0 pr-0" id="customer_phone_validation_message"></p>
                </div>
                <div class="div form-group">
                    <label for="customer_name">Email*</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <p class="lead text-danger pl-0 pr-0" id="customer_email_validation_message"></p>
                </div>
                <div class="div form-group">
                    <button type="submit" class="btn btn-outline-dark">Create Order</button>
                </div>
              </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}

<script src="{% static 'js/create_order.js' %}"></script>

{% endblock scripts %}