{% extends 'base.html' %}
{% block title %} Create Order {% endblock title %}
{% load static %}
{% block styles %}
<style>
    .fa-trash {
        color: tomato;
        cursor: pointer;
        margin-left: 20px;
    }
</style>
{% endblock styles %}
{% block content %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-6">
            <h5>Select Products To Deliver</h5>
            <form class="my-5" method="POST" id="productForm" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Product</label>
                    <select class="form-control" name="product" id="product">
                      {% for product in products %}
                      <option value="{{product.id}}">{{product.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" class="form-control" id="price" readonly>
                </div>
                <div class="form-group">
                    <label for="price">In Stock</label>
                    <input type="number" class="form-control" name="stock" id="stock" readonly>
                  </div>
                  <div class="form-group">
                    <label for="price" id="quantityLabel"></label>
                    <input type="number" class="form-control" name="quantity" id="quantity" min="1" step="1">
                    <p class="pl-0 pr-0 text-danger lead" id="quantity_validation_message"></p>
                  </div>
                  <div class="form-group">
                    <label for="price">Category</label>
                    <input type="text" class="form-control" name="category" id="category" readonly>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success" id="addProductButton">Add Product</button>
                  </div>
              </form>
        </div>
        <div class="col-md-6">
            <h5>Products To Deleiver</h5>
            <table class="table my-5" id="productTable">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="orderTable">
                  
                </tbody>
              </table>
                <h5>Customer Information</h5>
              <form id="orderForm" class="my-5" novalidate>
                  {% csrf_token %}
                  <div class="div form-group">
                      <label for="customer_name">Customer Name*</label>
                      <input type="text" class="form-control" name="customer_name" id="customer_name">
                      <p class="lead text-danger pl-0 pr-0" id="customer_name_validation_message"></p>
                  </div>
                  <div class="div form-group">
                    <label for="customer_name">Phone Number*</label>
                    <input type="text" class="form-control" name="phone" id="phone">
                    <p class="lead text-danger pl-0 pr-0" id="customer_phone_validation_message"></p>
                </div>
                <div class="div form-group">
                    <label for="customer_name">Email*</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <p class="lead text-danger pl-0 pr-0" id="customer_email_validation_message"></p>
                </div>
                <div class="div form-group">
                    <button type="submit" class="btn btn-outline-success">Create Order</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script>

    const product = document.getElementById('product');
    const quantity = document.getElementById('quantity');
    const quantityLabel = document.getElementById('quantityLabel');
    const quantityMessage = document.getElementById('quantity_validation_message');
    const addProductButton = document.getElementById('addProductButton');
    const productForm = document.getElementById('productForm');
    const productTable = document.getElementById('productTable');
    const orderTable = document.getElementById('orderTable');
    const orderForm = document.getElementById('orderForm');
    const customerName = document.getElementById('customer_name');
    const customerNameMessage = document.getElementById('customer_name_validation_message');
    const customerPhone = document.getElementById('phone');
    const customerPhoneMessage = document.getElementById('customer_phone_validation_message');
    const customerEmail = document.getElementById('email');
    const customerEmailMessage = document.getElementById('customer_email_validation_message');

    let validatedData = {
        'quantiy': false
    }
    let validatedOrderData = {
        'customer_name': false,
        'phone': false,
        'email': false 
    }

    document.addEventListener('DOMContentLoaded', () => getProductInformation(product.value));
    product.onchange = () => getProductInformation(product.value);
    addProductButton.onclick = () => addProduct(event);
    orderForm.onsubmit = (event) => createOrder(event);

    function getProductInformation(product) {
        const url = `/get_product_information/${product}/`;
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            fillUpProductInformation(data[0]);
        })
        .catch(error => {
            console.log(error);
        })

    }

    function fillUpProductInformation(data) {
        const price = document.getElementById('price');
        const stock = document.getElementById('stock');
        const category = document.getElementById('category');
        price.value = data.price;
        stock.value = data.stock;
        category.value = data.category
        category.setAttribute('category_id', data.category_id);
        quantityLabel.innerHTML = '';
        quantityLabel.innerHTML = `Quantity in(${data.unit})`;
    }

    function validateQuantity(value) {
        if(!quantity.value) {
            console.log(quantity.value);
            quantityMessage.innerHTML = '';
            quantityMessage.innerHTML = 'Please enter quantity';
            validatedData.quantiy = false;
            return false;
        }
        else if(parseFloat(quantity.value) < 1) {
            quantityMessage.innerHTML = '';
            quantityMessage.innerHTML = 'Cant be less than 1';
            validatedData.quantiy = false;
            return false;
        }
        else if(parseFloat(quantity.value) > parseFloat(stock.value)) {
            quantityMessage.innerHTML = '';
            quantityMessage.innerHTML = 'Not available in stocks';
            validatedData.quantiy = false;
            return false;
        }
        else {
            quantityMessage.innerHTML = '';
            validatedData.quantiy = true;
            return true;
        }
    }

    function addProduct(event) {
        if(validateQuantity(quantity.value)) {
            event.preventDefault();
            let addedProduct = {
                'productId': parseInt(product.value),
                'productName': product.options[product.selectedIndex].text,
                'productPrice': parseFloat(price.value),
                'quantity': parseFloat(quantity.value),
                'subtotal': parseFloat(price.value) * parseFloat(quantity .value)
            }
            console.log(addedProduct);
            addProductToOrderTable(addedProduct);
            productForm.reset();
            getProductInformation(product.value);

        }
        else {
            event.preventDefault();
        }
        
    }

    function addProductToOrderTable(data) {
        const totalRows = document.getElementsByTagName('tr').length;
        const tr = document.createElement('tr');
        tr.setAttribute('id', data.productId);
        tr.setAttribute('data-product', data.productId);
        tr.setAttribute('data-quantity', data.quantity);
        const td= document.createElement('td');
        const deleteIcon = document.createElement('i');
        deleteIcon.setAttribute('class', 'fa fa-trash');
        deleteIcon.setAttribute('onclick', `removeProductFromOrderTable(${data.productId})`);
        td.appendChild(deleteIcon);
        const objectLength = Object.keys(data).length;
        const keys = Object.keys(data);
        for(let i = 1; i < objectLength; i++) {
            tr.innerHTML += `
                <td>${data[keys[i]]}</td>
            `
        }
        tr.appendChild(td);
        orderTable.appendChild(tr);
    }

    function removeProductFromOrderTable(productId) {
        let product = document.getElementById(productId);
        product.remove();
    }

    function validateCustomerName() {
        if(!customerName.value) {
            customerNameMessage.innerHTML = '';
            customerNameMessage.innerHTML = 'Please enter customer name';
            validatedOrderData.customer_name = false;
        }
        else {
            customerNameMessage.innerHTML = '';
            validatedOrderData.customer_name = true;
        }
    }

    function validateCustomerPhone() {
        if(!customerPhone.value) {
            customerPhoneMessage.innerHTML = '';
            customerPhoneMessage.innerHTML = 'Please enter customer phone number';
            validatedOrderData.phone = false;
        }
        else {
            customerPhoneMessage.innerHTML = '';
            validatedOrderData.phone = true;
        }
    }

    function validateCustomerEmail() {
        if(!customerEmail.value) {
            customerEmailMessage.innerHTML = '';
            customerEmailMessage.innerHTML = 'Please enter customer email address';
            validatedOrderData.email = false;
        }
        else {
            customerEmailMessage.innerHTML = '';
            validatedOrderData.email = true;
        }
    }

    function createOrder(event) {
        event.preventDefault();
        const totalSelectedProducts = orderTable.querySelectorAll('tr');
        if(totalSelectedProducts.length < 1) {
            alert('Please select product first');
        }
        else {
            validateCustomerName(customerName.value);
            validateCustomerPhone(customerPhone.value);
            validateCustomerEmail(customerEmail.value);
            if(validatedOrderData.customer_name && validatedOrderData.phone && validatedOrderData.email) {
                let order = [];
                let products = [];
                const customerInformation = {
                    'customer_name': customerName.value,
                    'phone': customerPhone.value,
                    'email': customerEmail.value
                }
                for(let product of totalSelectedProducts) {
                    products.push(
                        {
                            "product_id": product.dataset.product,
                            "quantity": product.dataset.quantity,
                        })
                }
                order.push(customerInformation);
                order.push(products);
                
                
                saveOrder(JSON.stringify(order));
            }
            else {
                console.log('something went wrong');
            }
        }
    }

    function saveOrder(orderData) {
        const url = `/save_order/`;
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: orderData
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            console.log(data.message);
            orderForm.reset();
            orderTable.innerHTML = '';
            getProductInformation(product.value);
        })
        .catch(error => {
            console.log(error);
        })

    }
</script>
{% endblock scripts %}